<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %} <!-- Titulo de cada página --> {% endblock %} | Víctor
      Vergara
    </title>
    {% load static %}
    <link
      rel="stylesheet"
      typw="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>
  <body>
    <!-- Cabecerade ka pagina -->
    <header>
      <div id="logotipo">
        <!-- Logo django -->
        <img src="{% static 'images/logo.png' %}" alt="" />
        <h1>Proyecto con Django</h1>
      </div>
    </header>

    <nav>
      <ul>
        <li>
          <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li>
          <a href="{% url 'list_articles' %}">Categorías</a>
          <ul>
            <li>
              <a href="{% url 'index' %}">Categoria 1</a>
            </li>
            <li>
              <a href="{% url 'index' %}">Categoria 2</a>
            </li>
            <li>
              <a href="{% url 'index' %}">Categoria 3</a>
            </li>
          </ul>
        </li>
        {% for page in pages %}
          <li>
            {% comment %} <a href="{% url 'about' %}">Sobre nosotros</a> {% endcomment %}
            <a href="{% url 'page' page.2 %}">{{ page.1 }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="barra">
      <span class="esquina-izquierda"></span>
      <span class="relleno-barra"></span>
      <span class="esquina-derecha"></span>
    </div>

    <div id="content">
      <div class="box">
        {% block content %}
        <!-- Codigo que viene de templates -->
        <strong>Contenido del bloque original!!!</strong>
        {% endblock %}
      </div>
    </div>

    <footer>Master en Python &copy; Víctor Vergara - {% now "d/m/Y" %}</footer>
  </body>
</html>
