/* Estilos generales */

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Arial, Helvetica;
    text-decoration: none;
}

body{
    background-color: #f2f2fe;
}

/* Estilos Cabecera */
header{
    width: 1212px;
    height: 140px;
    background-color: #23282b;
    margin: auto;
}