<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} | Aprendiendo Flask con Víctor Vergara {% endblock %} </title>
    </head>
    <body>

        <h1>Aprendiendo Flask con Víctor Vergara</h1>
        <hr/>
            <ul>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="{{url_for('informacion')}}">Informacion</a>
                </li>
                <li>
                    <a href="{{url_for('contacto')}}">Contacto</a>
                </li>
                <li>
                    <a href="{{url_for('lenguajes')}}">Lenguajes de Progración</a>
                </li>
            </ul>
        <hr/>
        
        <section id="content">
            {% block content %}

            {% endblock %}
        </section>

        <footer>
            Máster en Python con Víctor Vergara
        </footer>

    </body>
</html>